body{
    background-color: #322348;
}
.max-height {
    min-height: 100vh;
}
.quote-container{
    background-color: #563d7c;
}
i{
    color: #322348;
}
h3{
    font-family: 'Kalam', cursive;
    
}
#generate-btn{
    border: 4px solid #322348;
    font-weight: 600;
}
#generate-btn:hover{
    background-color: #322348;
    color: whitesmoke;
}
#quote{
    color: whitesmoke;
}